<form action="/articles" method="POST">
  <div>
    <label for="title">Title</label>
    <input name="title" type="text" id="title"/>
  </div>
  <br>
  <div>
    <label for="content">Content</label>
    <textarea name="content" type="text" id="content"></textarea>
  </div>
  <br>
  <input type="submit" id="submit"/>
</form>
