<h1>Post an Article</h1>

<form action="/articles" method="post">
  <p>
    <label for="article_title">Title:</label>
    <input id = "article_name" type="text" name="title">
  </p>
  <p>
    <label for="article_content">Content:</label>
    <input id = "article_content" type="text" name="content">
  </p>
  <input type="submit" value="Submit">
</form>
