<form action="/articles" method="post">
<h1>Create a New Article!</h1><br>
<label for="article[title]">Title:</label>
<input type="text" id="title" name="article[title]">
<label for="article[content]">Content:</label>
<input type="text" id= "content" name="article[content]">
<input type="submit" name="submit" value="submit">
</form>