<ul>
<form method="post" action="/articles">
  <li><label for="title"> Title:</label></li>
 <p> <input type="text" id="title" name="title"></p>
 <li> <label for="content"> Content</label></li>
  <p><textarea type="text" id="content" name="content"></textarea></p>
  <input type="submit" value="submit">
</form>
</ul>