<form action="/articles" method="POST">
    Article Title: <input id="title" type="text" name="title" /><br>
    Article Content: <textarea id="content" type="text" name="content"></textarea><br>
    <input type="submit" value="Submit">
</form>