<h1>Create A New Article</h1>
<form method="POST" action="/articles">
    Title:<input type="text" name="title"><br>
    Content:<input type="textarea" name="content"><br>
    <input type="submit" name="submit" id="submit">
</form>