<!DOCTYPE html>
<h1>Here is your article:</h1>
<h2>Id: <%= @article.id  %></h2>
<h2>Title: <%= @article.title %></h2>
<h3>Content: <%= @article.content %></h3>
<form class="" action=<%= '/articles/' + @article.id.to_s %> method="post">
  <input type="submit" name="Delete" value="Delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
</form>
